#main {position: relative; }
#title {position: absolute; top: 25px; left: 20px; height: 35px; width: 152px;  }
#connstatusinfo {position: absolute; top: 120px; left: 20px; width: 75%; min-width: 800px; }
#d1 {position: absolute; top: 0; left: 20px; width: 75%; min-width: 600px; font-size: 22px; }
#d2 {position: absolute; top: 50px; left: 20px; width: 75%; min-width: 600px; font-size: 16px; }
#img {position: absolute; top: 0; right: 0; }
#d3 {position: absolute; top: 300px; left: 15px; width: 90%; background-color: #DCDCDC; cursor: pointer; }
#downloadbutton {position: absolute; top: 350px; left: 40px; }
#restartbutton {position: absolute; top: 350px; left: 250px; }
#d4 {position: absolute; top: 400px; left: 60px; font-size: 16px; width: 100%; }
.name {float: left; }
.value {list-style-type: none; padding: 0; margin-left: 200px; margin-top: 0; margin-bottom: 0; }

